<article class="product">
  <header>
    <%= link_to product do %>
      <%= image_tag product.image.thumb, alt: product.name %>
      <h4><%= product.name %></h4>
    <% end %>
  </header>
  <p class="description">
    <%= product.description %>
  </p>
  <% if product.reviews.count == 0 %>
  <strong> No Reviews </strong>
    <% else %>
    <strong> Average Rating: </strong>
  <% end %>
  <br>
  <% average = product.reviews.average(:rating).to_f.round(1) %>
  <%if product.reviews.length > 0%>
    <% for i in 1..5 do %>
      <%if i <= average %>
        <i class="fas fa-star"></i>
      <%elsif i - average > 0 && i - average < 1%>
        <i class="fas fa-star-half-alt"></i>
      <%else%>
      <i class="far fa-star"></i>
      <% end %>
    <% end %>
    <p><%= average %> <p>
    <%else%>
    <% end %>
  
  <footer class="actions">
    <%= link_to add_item_cart_path(product_id: product.id), class: 'btn btn-primary', method: :put do %>
      <%= fa_icon "shopping-cart", text: 'Add' %>
    <% end %>
    <%= link_to product, class: 'btn btn-default pull-right' do %>
      Details
    <% end %>
  </footer>

  <aside class="price">
    <%= humanized_money_with_symbol product.price %>
  </aside>
  <% if product.quantity <= 0 %>
  <aside class="soldout"> 
  <strong>SOLD OUT!</strong>
  </aside>
  <% end %>
</article>
